.nav-link-button {
  max-width: 240px;
  height: 36px;
  flex: 1;
}
.image {
  width: 100%;
  height: 100%;
}
.nav-list {
  flex: 1;
  max-width: 1600px;
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  margin-right: 10px;
}
.header {
  display: flex;
  margin-bottom: 10px;
}
.link-button {
  min-width: 50px;
  font-size: 12px;
}
.link-button:first-child {
  margin-right: 15px;
}
.links {
  align-self: flex-end;
  margin-left: auto;
}
.link-button {
  height: 36px;
}
