<div class="header">
  <div class="logo">
    <img class="image" src="./assets/MKCC%20LOGO-01-01%201.png">
  </div>
  <div class="nav-list">
    <button type="button" *ngFor="let item of mainScreenNavLinks"
            class="nav-link-button"
            mat-button
            color="accent"
            [routerLink]="item.url"
            routerLinkActive="active-button">
      <div class="mat-title">
        {{ item.title }}
      </div>
    </button>
  </div>
  <div class="links">
    <button  [matMenuTriggerFor]="menu" class="link-button" color="primary" mat-icon-button aria-label="Admin">
      <mat-icon>person</mat-icon>
      Admin
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout();">Logout</button>
    </mat-menu>
  </div>
</div>

