<mat-radio-group [formControl]="control" color="primary" aria-label="Select an option">
  <mat-table [dataSource]="floors" class="without-border-width example-table" matSort
             matSortActive="created" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="action">
      <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
      <mat-cell class="name" *matCellDef="let row">
        <mat-radio-button [value]="row.number"></mat-radio-button>
      </mat-cell>
    </ng-container>
    <!-- Number Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell class="name" *matCellDef="let row">{{toReadable(row.number)}}</mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="visibility">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Visibility</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openVisibilityDialog(row)">
          <mat-icon class="visibility-icon" [color]="row.visible ? 'primary' : 'accent'" svgIcon="eye"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-radio-group>
