<div class="header">Select an object</div>
<app-map class="map"></app-map>
<div class="legends">
  <div class="column">
    <div class="cell">
      <div class="square poi"></div>
      <div class="title">POI</div>
    </div>
    <div class="cell">
      <div class="square location"></div>
      <div class="title">Locations</div>
    </div>
  </div>
  <div class="column">
    <div class="cell">
      <div class="square deactivated-location"></div>
      <div class="title">Deactivated locations</div>
    </div>
    <div class="cell">
      <div class="square selected-location"></div>
      <div class="title">Selected</div>
    </div>
  </div>
</div>
